<div class="ui-lg" id="container">
    <p-toast></p-toast>
    <h3 > Atualizar Pessoa</h3>
    <br>
    <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4" id="div2">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" pInputText placeholder="Nome" id="nome" 
                            [(ngModel)]="pessoa.nome" name="nome" required minlength="3" maxlength="50"
                            #nome="ngModel">         
                </div>
            
                 <br>
            
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                    <input type="text" pInputText placeholder="Email" id="email"
                            [(ngModel)]="pessoa.email" name="email" required minlength="13" maxlength="50"
                            #email="ngModel">         
                </div>
            
                 <br>
            
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                    <input type="text" pInputText placeholder="Celular" id="celular"
                            [(ngModel)]="pessoa.celular" name="celular" required minlength="11"
                            maxlength="20" #celular="ngModel">
                    
                </div>
    
            </div>
               
    </div>
    <br>
    
    <div id="div-botoes">
        <button pButton type="submit" icon="pi pi-save" iconPos="left" class="p-button-success"
        label="Atualizar" (click)="atualizarPessoa()" 
        [disabled]="((!nome.valid)||(!email.valid)||(!celular.valid))">
        </button>
    
            &nbsp;&nbsp;
    
        <button pButton type="submit" icon="pi pi-times" iconPos="left" class="p-button-danger"
        label="Cancelar" (click)="voltarMenuPessoa()">
        </button>
    
    </div>
    </div>
