
<div class="ui-lg">
  <p-toast>
  </p-toast>
  <p-toolbar>
   <div class="p-toolbar-group-left">
    <p-splitButton label="Selecione a Categoria" [model]="items"></p-splitButton>
       &nbsp;&nbsp;
    <button pButton type="button" icon="pi pi-plus" iconPos="left"
          label="Nova Pessoa" (click)="btnNovaPessoa()" class="p-button-success">
    </button>
   </div>

   <div class="p-toolbar-group-right">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input #filtroPessoa pInputText type="text" 
        (input)="tabela.filterGlobal(filtroPessoa.value, 'contains')" placeholder="procurar">
      </span>
   </div>

  </p-toolbar>
<p-table #tabela [value]="pessoas" [responsive]="true" [paginator]="true" [rows]="20" 
          [resizableColumns]="true" [scrollable]="true" 
          scrollHeight="150px" [globalFilterFields]="['nome']">
    <ng-template pTemplate="header" header="Custom Header" styleClass="dark-table">
        
        <tr >
            
            <th id="th1" class="p-pi-save"> Nomes</th>
    
            <th id="th2"> Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa >
      <tr >
          
          <td id="td-nome" >{{pessoa.nome}}</td>
         
          <td id="td-acao" >
            <button pButton type="button" icon="pi pi-info" iconPos="left"
            (click)="detalhesPessoa(pessoa.id)" class="p-button-text  p-button-outlined ">
            </button>

            <button pButton type="button" icon="pi pi-pencil" iconPos="left"
               (click)="atualizarPessoa(pessoa.id)" class="p-button-text  p-button-outlined ">
            </button>

            <p-confirmPopup></p-confirmPopup>
            <button pButton type="button" icon="pi pi-trash" iconPos="left"
               (click)="excluirPessoa(pessoa.id,$event)" 
               class="p-button-text p-button-outlined p-button-danger">
            </button>
          </td>
      
      </tr>
      
    </ng-template>
</p-table>
</div>

