<div class="ui-lg" id="container">
    <p-toast></p-toast>
    <h3 > Atualizar Estado</h3>
    <br>
    <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4" id="div2">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-flag"></i></span>
                    <input type="text" pInputText placeholder="Nome" id="nome" 
                            [(ngModel)]="estado.nome" name="nome" required minlength="4" maxlength="20"
                            #nome="ngModel">         
                </div>
            
                 <br>
            
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-shield"></i></span>
                    <input type="text" pInputText placeholder="Sigla" id="sigla"
                            [(ngModel)]="estado.sigla" name="sigla" required 
                            minlength="2" maxlength="2" #sigla="ngModel">         
                </div>
    
            </div>
               
    </div>
    <br>
    
    <div id="div-botoes">
        <button pButton type="submit" icon="pi pi-save" iconPos="left" class="p-button-success"
        label="Atualizar" (click)="atualizarEstado()"
        [disabled]="((!nome.valid)||(!sigla.valid))">
        </button>
    
            &nbsp;&nbsp;
    
        <button pButton type="submit" icon="pi pi-times" iconPos="left" class="p-button-danger"
        label="Cancelar" (click)="voltarMenuEstado()">
        </button>
    
    </div>
    </div>
