
<div class="container" style="width: 1000px;">

    <p-splitButton label="Selecione a Categoria" [model]="items"></p-splitButton>
    &nbsp;&nbsp;
    <button pButton type="button" icon="pi pi-plus" iconPos="left"
            label="Nova Cidade" (click)="btnNovaCidade()" class="p-button-success">
    </button>
    
  <br><br><br>
  <p-table  [value]="cidades" [responsive]="true" [paginator]="true" [rows]="20" 
  [resizableColumns]="true" [scrollable]="true" scrollHeight="150px">
      <ng-template pTemplate="header" header="Custom Header" styleClass="dark-table">
          
          <tr >
              
              <th style="width:5%; text-align: center" class="p-pi-save"> Cidades</th>
      
              <th style="width:3%; text-align: center;"> Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cidade >
        <tr >
            
            <td style="width:5%; text-align: left;" >{{cidade.nome}}</td>
           
            <td style="width:3%; text-align: center;" >
              <button pButton type="button" icon="pi pi-info" iconPos="left"
              (click)="detalhesCidade(cidade.id)" class="p-button-text  p-button-outlined ">
              </button>
  
              <button pButton type="button" icon="pi pi-pencil" iconPos="left"
              (click)="atualizarCidade(cidade.id)"   class="p-button-text  p-button-outlined ">
              </button>
  
              <button pButton type="button" icon="pi pi-trash" iconPos="left"
              (click)="excluirCidade(cidade.id)"  class="p-button-text p-button-outlined p-button-danger">
              </button>
            </td>
        
        </tr>
        
      </ng-template>
  </p-table>
  </div>