<div class="container" style="width: 400px;" >

    <p-toast>
    </p-toast>
    <h3 > Adicionar Cidade</h3>
    <br>
    
<div class="p-grid p-fluid">
        <div class="p-col-12 p-md-4" style="width: 400px;">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-flag"></i></span>
                <input type="text" pInputText placeholder="Nome" id="nome" 
                        [(ngModel)]="cidade.nome" name="nome">         
            </div>
            <br>
            <div>
             <p-dropdown [options]="estados" [(ngModel)]="cidade.estado" 
              placeholder="Selecione um estado" [virtualScroll]="true" 
              [itemSize]="5" [filter]="false" optionLabel="nome"></p-dropdown>
            </div>
        
        </div>
           
</div>
  
<br>

<div style="text-align: center;">
    <button pButton type="submit" icon="pi pi-save" iconPos="left" class="p-button-success"
    label="Salvar" (click)="salvarCidade()">
    </button>

        &nbsp;&nbsp;

    <button pButton type="submit" icon="pi pi-times" iconPos="left" class="p-button-danger"
    label="Cancelar" (click)="voltarMenuCidade()">
    </button>

</div>
</div>